<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="main.css" />
		<title>Game of Life</title>
		<script type="module" src="./board_listener.js"></script>
		<script type="module" src="./import_board_listener.js"></script>
		<script type="module" src="./export_board.js"></script>
		<script type="module" src="./start_game.js"></script>
	</head>
	<body>
		<main>
			<section class="board_container-sec">
				<section id="board" class="board-sec"></section>
			</section>
			<div class="custom_game-div">
				<form action="" class="game_config-form">
					<h3>Custom your 'Game of Life'</h3>
					<!-- HERE STARTS LABEL + INPUT -->

					<!-- ROWS -->
					<label for="amount_of_rows-inp">Rows:</label>
					<input
						type="number"
						id="amount_of_rows-inp"
						value="40"
						min="10"
					/>

					<!-- COLUMNS -->
					<label for="amount_of_columns-inp">Columns:</label>
					<input
						type="number"
						id="amount_of_columns-inp"
						value="40"
						min="10"
					/>

					<!-- GENERATIONS -->
					<label for="amount_of_generations-inp">Generations: </label>
					<input
						type="number"
						id="amount_of_generations-inp"
						value="50"
					/>

					<!-- GENERATIONS VELOCITY (GENS/SEC) -->
					<label for="gen_velocity-inp"
						>Generations per second:
					</label>
					<input type="number" id="gen_velocity-inp" value="20" />

					<!-- SHOW GRID (CHECK) -->
					<label for="show_grid-check">Show Grid: </label>
					<input type="checkbox" id="show_grid-check" />

					<!-- CREATE BOARD -->
					<button
						type="button"
						class="create_board-btn"
						id="create_board-btn"
					>
						Create Board
					</button>

					<!-- IMPORT BOARD -->
					<button
						type="button"
						id="import_board-btn"
						class="import_board-btn"
					>
						Import board
					</button>

					<!-- MODAL (LINKED WITH THE ABOVE'S BUTTON) -->
					<dialog>
						<h3>Insert the configuration as JSON</h3>
						<input
							type="text"
							placeholder="Insert here your JSON"
							id="imported_config-inp"
						/>
						<button type="button" id="receive_json-btn">
							Click me
						</button>
					</dialog>

					<!-- EXPORT BOARD (IN CLIPBOARD) -->
					<button
						type="button"
						id="export_board-btn"
						class="export_board-btn"
					>
						Export board
					</button>

					<!-- START GAME -->
					<button
						type="button"
						id="start_game-btn"
						class="start_game-btn"
					>
						Start game
					</button>
				</form>
			</div>
		</main>
	</body>
</html>
